.header {
    background: radial-gradient(175.37% 96.44% at 10% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
}

.header__top {
    padding-top: 22px;
}

.header__top-inner {
    display: flex;
    color: white;
    gap: 60px;
    align-items: center;
    font-weight: var(--middle-font-weight);
}

.header__logo {
    flex-shrink: 0;
}

.header__logo img {
    width: 100%;
}

.nav {
    
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__item {}

.nav__link {
    opacity: var(--opacity-text);
    line-height: 1.6px;
    white-space: nowrap;
    transition: var(--transition);
}

.nav__link:hover {
    opacity: 1;
}

.header__support {
    min-height: 52px;
    text-align: center;
    padding: 0 40px;
    margin-left: auto;
    letter-spacing: 0.5px;
    transition: var(--transition);
}
.header__support:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
}


/* ===================================================================== */

.header__hero {
    padding: 200px 0 78px;
    position: relative;
}

.hero {}

.hero__inner {
}

.hero__content {
    color: var(--white);
}

.hero__title {
    max-width: 810px;
    font-size: 72px;
    font-weight: var(--large-font-weight);
    line-height: var(--small-line-height);
    letter-spacing: 1px;

    margin-bottom: 60px;

    position: relative;
    z-index: 1;
}

.hero__title span {
    color: var(--violet-light);
}

.hero__title::before {
    content: url(../img/decorations/gray-lines.webp);
    position: absolute;
    top: -25%;
    left: -12.6%;
}

.hero__info {
    display: flex;
    align-items: center;
    gap: 41px;

    margin-bottom: 393px;
}

.hero__info-button {
    padding: 0 40px;
    border: 1px solid var(--white);
    border-radius: var(--border);

    font-weight: var(--middle-font-weight);
    line-height: 3.25;
    letter-spacing: 0.5px;
    transition: var(--transition);
}

.hero__info-button:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
}

.hero__preview {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: var(--middle-font-weight);
    line-height: var(--large-line-height);
}


.hero__preview a {
    cursor: pointer;
}

.hero__preview-video {
    display: flex;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    justify-content: center;
    align-items: center;

    background: var(--violet-light);
    border-radius: 50%;
    position: relative;
    transition: var(--transition);
}

.hero__preview-video:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
}
.hero__preview-video::before {
    content: "";
    width: 84px;
    height: 84px;
    background: var(--violet-light);
    opacity: 0.12;
    border-radius: 50%;
    position: absolute;
}


.hero__badges {
    display: flex;
    gap: 94px;
}

.hero__badges-list {
    display: flex;
    gap: 94px;
}
.hero__badges-list:not(:last-child)::after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    opacity: 0.4;
    background: linear-gradient(to bottom, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.hero__badges-item {
    display: flex;
    gap: 20px;
    align-items: center;

    font-size: 19.9px;
    font-weight: var(--middle-font-weight);
}
.hero__badges-item svg {
    flex-shrink: 0;
}

.hero__decoration {
    position: absolute;
    top: 5.2%;
    right: 0;
    pointer-events: none;
}

.hero__decoration-man {
    position: absolute;
    top: 20.6%;
    left: 27%;
}

.hero__lines {
    position: absolute;
    left: 0;
    bottom: 1.29%;
    pointer-events: none;
}
