@import "reset.css";
@import "fonts.css";
@import "global.css";
@import "swiper-bundle.css";


@import "header.css";
@import "footer.css";
/* ===================================================================== */


/* ===================================================================== */
/* ===================================================================== */

.main__rating {
    margin-bottom: 180px;
}

.rating {}


.rating__about {
    display: flex;
    gap: 105px;
    margin-bottom: 152px;
}

.rating__title {
    max-width: 630px;
    font-size: 28px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);
}

.rating__company-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 41px;
}

.raiting__company-item {
    display: flex;
    align-items: center;
    gap: 16px;

    color: var(--gray-text);
    font-size: 14px;
    line-height: var(--middle-line-height);
}

.raiting__company-item img {
    max-width: 100%;
}

.rating__icons {
    display: flex;
    justify-content: center;
    gap: 102px;
}

.rating__icons img {
    max-width: 100%;
}

/* ===================================================================== */

.main__team {
    margin-bottom: 180px;
    position: relative;
}

.team__about {
    display: flex;
    margin-bottom: 180px;
}

.team__content {}

.team__title {
    background: #D9D9D9;
    min-width: 524px;
    min-height: 139px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.team__text {
    color: var(--gray-white-text);
    line-height: var(--large-line-height);

    max-width: 390px;
    margin-bottom: 40px;
}

.team__button {
    max-width: 161px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 3.143;
    letter-spacing: 0.5px;
    padding: 0 34px;
    color: var(--white);
    transition: var(--transition);
}
.team__button:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
}

.team__img {
    border-radius: var(--border);
    overflow: hidden;
}

.team__img img {
    width: 100%;
}

.team__indicators {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.team__experience,
.team__awards,
.team__projects,
.team__satisfaction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team__indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.indicator--orange .team__indicator-circle {
    background: conic-gradient(orange 88%, #f8972e3d 0)
}

.indicator--pink .team__indicator-circle {
    background: conic-gradient(#F52F6E 75%, #f52f6e3d 0)
}

.indicator--blue .team__indicator-circle {
    background: conic-gradient(#5A87FC 80%, #5a88fe3d 0)
}

.indicator--green .team__indicator-circle {
    background: conic-gradient(#03CEA4 100%)
}

.team__indicator-circle {
    width: 148px;
    height: 148px;
    border-radius: 50%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__indicator-circle::before {
    content: "";
    position: absolute;
    inset: 6px;
    background: #fff;
    border-radius: 50%;
}

.team__indicator-value {
    z-index: 1;
    font-size: 32px;
    font-weight: var(--large-font-weight);
    line-height: var(--small-line-height);
}

.team__indicator-text {
    font-size: 14px;
    line-height: var(--middle-line-height);
    color: var(--gray-text);
}

.team__background {
    position: absolute;
    z-index: -1;
    top: -20%;
    pointer-events: none;
}

.team__decoration {
    position: absolute;
    right: 15.5%;
    bottom: -8%;
    pointer-events: none;
    z-index: -1;
}

/* ===================================================================== */

.main__services {
    margin-bottom: 83px;
}


.services__top {}

.services__title {
    text-align: center;
    margin-bottom: 50px;
}

.tab-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 60px;
}

.tab__controls-item {}

.tab__controls-link {
    display: block;
    font-weight: var(--middle-font-weight);
    line-height: var(--large-line-height);
    padding: 9px 77px;
    color: var(--gray-white);
    text-align: center;
    white-space: nowrap;
    width: 246px;

    transition: var(--transition);
    border-radius: var(--border);
}
.tab__controls-link:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
    color: var(--white);
}

.tab__controls-link--active {
    box-shadow: 0 0 0 1px #7772F1 inset;
    color: var(--violet-light);
    transition: var(--transition);
}

.services-tab__content {
    display: none;
}

.tab-content {
    display: none;
    margin-bottom: 83px;
}

.tab-content--show {
    display: block;
}

.tab__socials {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.tab__socials-content {}

.tab__socials-title {
    font-size: 28px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);

    margin-bottom: 24px;
}

.tab__socials-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 48px;
}

.tab__socials-item {
    display: flex;
    align-items: center;
    gap: 12px;
    line-height: var(--large-line-height);
}

.tab__socials-offer {
    display: flex;
    gap: 24px;
}

.tab__socials-button {
    display: flex;
    color: var(--violet-light);
    text-align: center;
    font-size: 14px;
    font-weight: var(--middle-font-weight);
    line-height: 3.14;
    letter-spacing: 0.5px;

    padding: 0 32px;
    max-width: 139px;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--violet-light);
    transition: var(--transition);

    white-space: nowrap;
}

.tab__socials-button:hover {
    background: var(--violet-light);
    color: var(--white);
}

.tab__socials-img {
    margin-right: -5.5%;
}

.tab__socials-img img {}

/* ===================================================================== */

.main__application {
    background: var(--gray-black);
    padding: 80px 0;
    position: relative;
}

.application__inner {
    display: flex;
    gap: 233px;
}

.application__img {}

.application__proposal {}

.application__title {
    color: var(--white);
    margin-bottom: 40px;
}

.application__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 30px;
}


.application__label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: var(--white);
    line-height: var(--large-line-height);
}

.application__label:nth-child(3) {
    grid-column: 1 / -1;
    margin-bottom: 24px;
}

.application__input {
    padding: 13px 16px;
    border-radius: var(--border);
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);

    font-size: 16px;
    line-height: var(--large-line-height);
    color: rgba(255, 255, 255, 0.815)
}

.application__agreement {
    display: flex;
    align-items: start;
    gap: 12px;
    color: var(--white);
    line-height: var(--middle-line-height);
}

.application__checkbox {
    appearance: none;

    width: 16px;
    height: 16px;
    border-radius: 3px;

    flex-shrink: 0;
    background: transparent;
    border: 1px solid var(--violet-light);

    position: relative;
    cursor: pointer;
    margin-top: 1.5%;

    transition: var(--transition);
}
.application__checkbox::before {
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    background: url(../img/icons/check.svg) 50% 50% no-repeat var(--violet-light);
    transition: var(--transition);
}
.application__checkbox:checked::before {
    opacity: 1;
}

.application__button {
    justify-self: end;
    min-width: 219px;
    line-height: 3.25;
    letter-spacing: 0.5px;
    max-height: 52px;

    transition: var(--transition);
}

.application__button:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
}

.application__decoration {
    position: absolute;
    right: 0;
    top: 22%;
    pointer-events: none;
}

/* ===================================================================== */

.main__questions {
    padding-top: 80px;
    margin-bottom: 134px;
}

.questions__inner {
    display: flex;
    gap: 146px;
}

.questions__content {
    display: flex;
    flex-direction: column;
}

.questions__title {
    margin-bottom: 60px;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.accordion-list__item {}

.accordion-list__item:last-child {
    margin-bottom: 60px;
}

.accordion-list__item--opened {}

.accordion__list-control {
    cursor: pointer;
}

.accordion-list__control-title {
    font-size: 20px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);

    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.accordion-list__control-title::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    transform: rotate(90deg);
    border-radius: var(--border);
    background: var(--violet-light);
    position: relative;
    transition: var(--transition);

    flex-shrink: 0;
}

.accordion-list__control-title::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    border-radius: var(--border);
    background: var(--violet-light);
    position: absolute;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control-title::before {
    transform: rotate(0deg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}


.accordion-content__col {
    padding-left: 40px;
}

.questions__button {
    max-width: 184px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: var(--middle-font-weight);
    line-height: 3.14;
    letter-spacing: 0.5px;

    align-items: center;
    gap: 8px;

    transition: var(--transition);
}

.questions__button:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
}

.questions__img {}


/* ===================================================================== */

.main__cases {
    margin-bottom: 86px;
    background: #F4F5F6;
    padding: 80px 0px 85px;
}

.cases__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.cases__control {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cases__prev {
    display: flex;
    transform: rotate(180deg);
    align-items: center;
    border-radius: 50%;
    padding: 18px 15px;
    transition: var(--transition);
}

.cases__next {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 18px 15px;
    transition: var(--transition);
}

.cases__prev path,
.cases__next path {
    fill: var(--gray-text);
}

.cases__next:hover,
.cases__prev:hover {
    background: var(--violet-light);
    flex-shrink: 0;
}

.cases__next:hover path,
.cases__prev:hover path {
    fill: var(--white);
}

.cases__swiper {
    margin-bottom: 65px;
}

.cases__wrapper {
    display: flex;
}

.cases__slide {
    padding: 24px 40px 40px;
    border-radius: var(--border);
    border: 1px solid #E5E8ED;
    box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.swiper-slide {
    height: auto;
}

.cases__slide--background-pic {
    background:
        url(../img/decorations/pipes.webp) no-repeat center/cover,
        rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
}


.national-slide {}

.cases__slide-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.cases__slide-top::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.cases__slide-description {
    font-size: 14px;
    line-height: var(--middle-line-height);
    margin-bottom: 20px;
}

.cases__slide-text {
    line-height: var(--large-line-height);
    margin-bottom: 71px;
}

.cases__content {
    padding-top: 20px;
}

.national__img {}

.national__description {
    
}

.national__content {}

.national__text {
    color: var(--gray-white-text);
}

.cases__indicators {
    display: flex;
    gap: 32px;
}

.cases__indicator {
    display: flex;
    gap: 12px;
}

.cases__indicator-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator--orange .cases__indicator-circle {
    background: conic-gradient(orange 88%, #f8972e3d 0)
}

.indicator--orange .sunset__indicator-circle {
    background: conic-gradient(orange 100%, #f8972e3d 0)
}

.indicator--pink .cases__indicator-circle {
    background: conic-gradient(#F52F6E 75%, #f52f6e3d 0)
}

.indicator--pink .sunset__indicator-circle {
    background: conic-gradient(#F52F6E 88%, #f52f6e3d 0)
}

.indicator--blue .cases__indicator-circle {
    background: conic-gradient(#5A87FC 80%, #5a88fe3d 0)
}

.indicator--blue .del-mar__indicator-circle {
    background: conic-gradient(#5A87FC 100%, #5a88fe3d 0)
}

.indicator--green .cases__indicator-circle {
    background: conic-gradient(#03CEA4 100%)
}

.cases__indicator-circle::before {
    content: "";
    position: absolute;
    inset: 4px;
    background: #fff;
    border-radius: 50%;
}

.cases__indicator-value {
    font-size: 20px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);
    

    display: flex;
    flex-direction: column;
}

.cases__indicator-text {
    font-size: 12px;
    line-height: var(--middle-line-height);
}

.del-mar-slide {}

.del-mar-slide__top::after {
    opacity: 0.4;
}

.del-mar__img {}

.del-mar__description {
    color: var(--white);
}

.del-mar__content {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: auto;
}

.del-mar__text {
    /* min-width: 310px; */
}

.del-mar__indicators span {
    color: var(--white);
}

.del-mar__indicator-circle {
    flex-shrink: 0;
    mask: radial-gradient(circle 15px at center, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 2) 110%);
}

.del-mar__indicator-circle::before {
    inset: 15px;
}

.sunset-slide__text {
    color: var(--gray-white-text);
}


.cases__more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.cases__text {
    font-size: 28px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);
}

.cases__button {
    padding: 0 40px;
    color: var(--white);
    line-height: 3.25;
    letter-spacing: 0.5px;
    flex-shrink: 0;

    transition: var(--transition);
}
.cases__button:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
}

/* ===================================================================== */

.main__benefits {
    margin-bottom: 180px;
}

.benefits__top {
    text-align: center;
    margin-bottom: 60px;
}

.benefits__title {}

.benefits__content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.benefits__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.benefits__element {
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: var(--border);
    border: 1px solid #E5E8ED;
    background: var(--white);
}

.benefits__element svg {
    margin-bottom: 16px;
}

.benefits__element-title {
    font-size: 20px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);
    margin-bottom: 8px;
}

.benefits__element-text {
    color: var(--gray-white-text);
    font-size: 14px;
    line-height: var(--middle-line-height);
}

.benefits__img {}

.benefits__img img {}

/* ===================================================================== */

.main__price {
    margin-bottom: 180px;
    position: relative;
}

.price__decoration {
    position: absolute;
    right: 14.4%;
    top: -79.8%;
    z-index: -11;
    pointer-events: none;
}

.price__top {
    text-align: center;
}

.price__title {
    margin-bottom: 60px;
}

.price__bars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.price__bars-wrapper {
    display: flex;
    border: 1px solid var(--violet-light);
    font-weight: var(--middle-font-weight);
    line-height: var(--large-line-height);
    color: var(--violet-light);
    border-radius: 40px;

    position: relative;
    overflow: hidden;
}

.price__indicator {
    position: absolute;
    left: 0;
    width: 55%;
    border-radius: 40px;
    height: 100%;
    background: var(--violet-light);
    transition: var(--transition);
}

.price__bars-btn {
    padding: 10px 64px;
    cursor: pointer;
    z-index: 11;
    transition: var(--transition);
}

.price__bars-btn--padding-low {
    padding: 10px 44px;
}

.price__bars-btn--active {
    color: var(--white);
}

.price__indicator--move {
    left: calc(100% - 55%);
}

.price__bars-btn span {
    margin-left: 8px;
    font-size: 12px;
    line-height: var(--middle-line-height);
}

.price__content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 180px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition);
    background: var(--white);

    padding: 40px 100px;
    border: 1px solid rgba(119, 114, 241, 0.40);
    box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.plan:hover {
    background: var(--gray-black);
    border: 1px solid #03CEA4;
    color: var(--white);
}

.plan:hover .plan__price {
    color: #03CEA4;
}

.plan:hover .plan__element path {
    fill: #03CEA4;
}

.plan:hover .plan__element--cancel-gray path {
    fill: var(--gray-white);
}

.plan__title {
    font-size: 28px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);

    margin-bottom: 8px;
}

.plan__price {
    display: flex;
    gap: 8px;

    color: var(--violet-light);
    font-size: 46px;
    font-weight: var(--large-font-weight);
    line-height: var(--small-line-height);

    margin-bottom: 40px;
}

.plan__price span {
    font-size: 20px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);
}

.plan__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.plan__element {
    display: flex;
    gap: 8px;
    align-items: center;
    line-height: var(--middle-line-height);
}

.plan__element span {
    color: var(--gray-white);
}

.plan__button {
    font-size: 14px;
    font-weight: var(--middle-font-weight);
    line-height: 3.14;
    letter-spacing: 0.5px;
    padding: 0 32px;

    border: 1px solid var(--violet-light);
    border-radius: var(--border);
    color: var(--violet-light);
    transition: var(--transition);
    cursor: pointer;
}

.plan__button:hover {
    background: var(--violet-light);
    color: var(--white);
}

/* ===================================================================== */

.main__feedback {
    margin-bottom: 100px;
    position: relative;
}

.feedback__decoration {
    position: absolute;
    left: 50%;
    top: 9%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;
}

.feedback__title {
    margin-bottom: 60px;
    text-align: center;
}

.feedback__content {
    display: flex;
    align-items: center;
    gap: 69px;
}

.feedback__control {
    display: flex;
}

.feedback__prev {
    padding: 16px 15px;
    border-radius: 50%;
    transition: var(--transition);
}

.feedback__next--mobile {
    display: none;
}

.feedback__prev path,
.feedback__next path {
    transition: var(--transition);
}

.feedback__prev:hover,
.feedback__next:hover {
    background: var(--violet-light);
}

.feedback__prev:hover path,
.feedback__next:hover path {
    fill: var(--white);
}

.feedback__next {
    padding: 16px 15px;
    border-radius: 50%;
    transition: var(--transition);
    transform: rotate(180deg);
}

.feedback__swiper {
    box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.swiper {}

.feedback__swiper-wrapper {}

.swiper-wrapper {}

.feedback__slide {
    display: flex;
    gap: 30px;
    justify-content: center;

    padding: 64px 105px;
    background: var(--white);
    border-radius: var(--border);
}

.swiper-slide {}

.feedback__text {
    max-width: 752px;
    font-size: 20px;
    line-height: var(--middle-line-height);
    margin-bottom: 24px;
}

.feedback__slide-content {}

.feedback__client {
    display: flex;
    gap: 20px;
    align-items: center;
}

.feedback__client-data {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.feedback__client-name {
    font-weight: var(--middle-font-weight);
    line-height: var(--large-line-height);
}

.feedback__client-post {
    font-family: Lato;
    font-size: 14px;
    line-height: var(--middle-line-height);
    color: var(--gray-white-text);
}

/* ===================================================================== */

.main__news {}


.news__wrapper {
    display: flex;
    gap: 135px;
}

.news__welcome {
    max-width: 285px;
}

.news__welcome-title {
    margin-bottom: 40px;
}

.news__welcome-text {
    font-size: 20px;
    line-height: var(--middle-line-height);
    margin-bottom: 60px;
}

.news__welcome-btn {
    text-align: center;
    font-weight: var(--middle-font-weight);
    line-height: 3.25;
    letter-spacing: 0.5px;

    padding: 0 40px;
    max-width: 180px;
    transition: var(--transition);
    color: var(--white);
}
.news__welcome-btn:hover {
    box-shadow: 0px 0px 25px -1px rgba(105, 101, 240, 0.412);
    background: #605bf0;
}

.news__content {
    display: flex;
    gap: 30px;
}

.news__sheet {}

.news__sheet-img {
    margin-bottom: 16px;
}

.news__sheet-author {
    color: var(--gray-white-text);
    font-size: 14px;
    line-height: var(--middle-line-height);
    display: flex;
    margin-bottom: 8px;
}

.news__sheet-theme {
    display: flex;
    align-items: center;
}

.news__sheet-theme::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background: var(--gray-white-text);
    margin: 0px 12px;
}

.news__sheet-data {
    display: flex;
    align-items: center;
    gap: 8px;
}

.news__sheet-data::after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background: var(--gray-white-text);
    margin: 0px 12px;
}

.news__sheet-signature {
    display: flex;
    align-items: center;
    gap: 8px;
}

.news__sheet-title {
    font-size: 20px;
    font-weight: var(--middle-font-weight);
    line-height: var(--middle-line-height);
}

.news__sheet-text {
    color: var(--gray-text);
    line-height: var(--large-line-height);
    margin-bottom: 16px;
}

.news__cheet-btn {
    display: flex;
    gap: 8px;
    align-items: center;

    font-weight: var(--middle-font-weight);
    line-height: var(--large-line-height);
}

/* ===================================================================== */


@media (max-width: 1300px) {
    .hero__badges {
        justify-content: space-around;
    }

    .hero__badges-item {
        flex-direction: column;
        text-align: center;
        font-size: 14px;
        line-height: 1.6;
    }

    .hero__badges-list:not(:last-child)::after {
        display: none;
    }

    .hero__decoration-man {
        display: none;
    }

    /* ===================================================================== */
    .rating__about {
        flex-direction: column;
    }

    .raiting__company-item {
        flex-direction: column;
        text-align: center;
    }

    .rating__icons {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* ===================================================================== */

    .team__img {
        display: none;
    }

    .team__decoration {
        right: 0;
    }

    .tab__socials-img img {
        max-width: 100%;
    }

    /* ===================================================================== */

    .application__inner {
        align-items: center;
        flex-direction: column-reverse;
        gap: 70px;
    }

    .application__img img {
        width: 100%;
    }


    .application__decoration {
        display: none;
        z-index: -1;
    }

    /* ===================================================================== */


    .questions__title {
        text-align: center;
    }



    .questions__img {
        display: none;
    }

    /* ===================================================================== */

    .benefits__img img {
        width: 100%;
    }

    /* ===================================================================== */

    .price__content {
        flex-wrap: wrap;
    }

    .plan__button {
        white-space: nowrap;
    }
    
    /* ===================================================================== */

    .news__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .news__welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .news__welcome-title {
        margin-bottom: 20px;
    }

    .news__welcome-text {
        margin-bottom: 40px;
    }

    .news__content {
        gap: 60px;
    }

    .news__sheet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news__sheet-img img {
        max-width: 100%;
    }
    /* ===================================================================== */

    .footer__top-inner {
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 45px;
    }

    .socials {
        justify-content: center;
    }

}


@media (max-width: 900px) {
    .header__top-inner {
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    .header__support {
        display: none;
    }

    .dropdown {
        display: block;
    }

    /* ===================================================================== */

    .tab__socials {
        flex-direction: column;
        align-items: center;
    }

    .tab__socials-img {
        margin-right: none;
    }

    .tab__socials-offer {
        justify-content: center;
        align-items: center;
    }

    /* ===================================================================== */

    .questions__title {
        margin-bottom: 40px;
    }

    .questions__content {
        align-items: center;
    }

    .questions__button {
        padding: 0 32px;
    }

    /* ===================================================================== */

    .benefits__element {
        padding: 20px 28px;
    }

    /* ===================================================================== */

    .feedback__slide {
        padding: 34px 65px;
    }

    .feedback__text-decoration {
        /* display: none; */
    }

    .feedback__slide-content {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media (max-width: 800px) {

    .hero__title {
        font-size: 9vw;
        text-align: center;
        margin-bottom: 40px;
    }

    .hero__info {
        flex-direction: column;
        gap: 35px;
        margin-bottom: 200px;
    }

    .hero__info-button {
        padding: 0 20px;
    }

    .hero__preview {
        flex-direction: column;
    }

    .hero__preview {
        z-index: 1;
        gap: 25px;
    }

    .caret {
        margin-left: 10px;
    }

    .hero__badges {
        gap: 30px;
    }

    .hero__badges-item {
        gap: 15px;
        max-width: 119px;
    }

    /* ===================================================================== */

    .rating__about {
        gap: 60px;
        margin-bottom: 100px;
    }

    .rating__title {
        text-align: center;
        max-width: none;
        font-size: 4vw;
    }

    .rating__company-list {
        gap: 30px;
    }

    .rating__icons {
        gap: 50px;
    }

    /* ===================================================================== */

    .team__about {
        justify-content: center;
        text-align: center;
        margin-bottom: 100px;
    }

    .team__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team__title {
        margin-bottom: 25px;
        font-size: 13vw;
    }

    .team__text {
        margin-bottom: 30px;
        line-height: 1.2;
        max-width: 280px;
    }

    .team__indicators {
        flex-wrap: wrap;
        gap: 35px;
    }

    /* ===================================================================== */

    .tab__socials-title {
        font-size: 4vw;
        text-align: center;
    }

    .tab__socials-item {
        font-size: 12px;
    }

    .tab__socials-offer {
        flex-direction: column;
        gap: 15px;
    }

    .tab__socials-button {}

    /* ===================================================================== */

    .application__title {
        text-align: center;
    }

    /* ===================================================================== */

    .cases__top {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .cases__title {
        margin-bottom: 20px;
        text-align: center;
    }

    .cases__slide-top {
        align-items: center;
        gap: 5px;
    }

    .cases__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding-top: 10px;
    }

    .cases__slide-text {
        margin-bottom: 50px;
    }

    .cases__indicators {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 25px;
    }

    .del-mar__indicator {
        margin-left: 38.7%;
        text-align: center;
    }

    .cases__swiper {
        margin-bottom: 35px;
    }

    /* ===================================================================== */

    .benefits__top {
        margin-bottom: 40px;
    }

    .benefits__content {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .benefits__img {
        display: none;
    }

    /* ===================================================================== */

    .price__title {
        margin-bottom: 40px;
    }

    .price__bars {
        margin-bottom: 50px;
    }

    .plan {
        padding: 30px 70px;
    }

    /* ===================================================================== */

    .feedback__content {
        display: block;
    }

    .feedback__control {
        justify-content: space-around;
    }

    .feedback__next {
        display: none;
    }

    .feedback__next--mobile {
        display: block;
    }

    .feedback__text-decoration {
        display: none;
    }

    .feedback__slide-content {
        gap: 20px;
    }

    .feedback__client {
        flex-direction: column;
        gap: 10px;
    }

    .feedback__client-data {
        text-align: center;
    }

    .feedback__text {
        font-size: 14px;
    }

    /* ===================================================================== */

    .footer__middle-inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__partners {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__bottom {
        text-align: center;
    }
}

@media (max-width: 500px) {

    .hero__badges-item {}

    /* ===================================================================== */


    .application__form {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .application__title {
        margin-bottom: 20px;
    }

    .application__label:nth-child(3) {
        margin-bottom: 15px;
    }

    .application__button {
        justify-self: center;
    }

    /* ===================================================================== */

    .cases__more {
        flex-direction: column;
        text-align: center;
    }

    /* ===================================================================== */

    .price__bars-wrapper {
        flex-direction: column;
        overflow: hidden;
    }

    .price__indicator {
        width: 100%;
        height: 50%;
        border-radius: 0;
        top: 0;
    }

    .price__indicator--move {
        top: 50%;
        left: 0;
    }

    /* ===================================================================== */

    .news__wrapper {
        gap: 60px;
    }

    .news__content {
        flex-wrap: wrap;
    }
}