:root {
    --accent-color: #ffa55c;
    --accent-color2: #ceaad0;
    --accent-bg: #ffe0cb;
    --general-bg: #fff9f4;
    --accent-text: #1f1711;
    --general-text: #312c27;
    --font-title-size: 74px;
    --Gabriola: "Gabriola", sans-serif;
    --hero-start-color: #b197b2;
    --transition-time: all .4s;
    --border-radius: 20px;
}


body {
    background: var(--general-bg);
    color: var(--general-text);

    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.body--opened-menu {
    overflow: hidden;
}

.modal--opened .modal {
    opacity: 1;
    visibility: visible;
}

.modal--opened {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    margin-bottom: 140px;
}

.main__gallery {
    margin-bottom: 140px;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.title {
    font-family: var(--Gabriola);
    font-size: var(--font-title-size);
    color: var(--accent-text);
    line-height: 0.82;
}


.button {
    height: 62px;
    padding: 3px 15px;
    width: 100%;

    background: var(--accent-color);

    border-radius: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;

    transition: var(--transition-time);
}

.button:hover {
    background: #ff9138;
}

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.233);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    padding: 15px;
}

.modal__window {
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;

    position: relative;

    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition-time);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #ac907a;
}


.modal__img {
    margin: -65px 0 0 12px;
    max-width: 100%;
}

.modal__title {
    font-size: 42px;
    line-height: 0.9;
    font-family: var(--Gabriola);
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form {}

.field {
    position: relative;
    margin-bottom: 10px;
    display: block;
    transition: var(--transition-time);
}

.field span {
    position: absolute;
    font-size: 11px;
    color: #AC907A;
    top: 12px;
    left: 28px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-time) ease-out .1s;
}


.field__input {
    display: block;
    cursor: pointer;
    padding: 19px 42px 19px 28px;
    border-radius: 100px;
    border: 1px solid #AC907A;
    width: 100%;
    transition: var(--transition-time);
}

.field__input:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
    color: var(--accent-text);
}

.field__input::placeholder {
    color: #AC907A;
    transition: var(--transition-time);
    font-size: 16px;
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
    font-size: 15px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}
