.header {
    background: url(../images/decorations/background/pg-header.png) 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

/* .nav {} */

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

/* .nav__element {} */


.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);

    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);

    position: absolute;

    transition: all .4s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.header__hero {
    padding: 48px 0 140px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.nav__link::before {
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;

    opacity: 0;
    transition: var(--transition-time);
}

.nav__link:hover::before {
    opacity: 1;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: var(--hero-start-color);
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}


.hero__info span::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;

    border-radius: 50%;
    background: var(--hero-start-color);

    margin: 0 12px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 360px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    display: flex;
    gap: 10px;
    align-items: center;

    min-width: 200px;

    position: absolute;

    bottom: 11%;
    left: calc(100% - 39px);

    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}


.hero__img-button {
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    background: var(--accent-bg);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);

    position: relative;
}

.hero__img-button::before {
    content: "";
    width: 67px;
    height: 67px;
    background: var(--accent-bg);
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    opacity: 0;
    position: absolute;
    transition: var(--transition-time);
}

.hero__img-button:hover::before {
    opacity: 1;
    transition: var(--transition-time);
}

.hero__img-button img {
    padding-left: 8.8%;
    z-index: 1;
}
